@model TatBlog.WebApp.Areas.Admin.Models.CategoryFilterModel

<form asp-area="Admin"
      asp-controller="Posts"
      asp-action="Index"
      method="get"
      class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
        <label class="visually-hidden" asp-for="Keyword"></label>
        <input type="text"
               class="form-control"
               asp-for="Keyword"
               placeholder="Nhập từ khóa..." />
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary" asp-area="Admin" asp-controller="Posts" asp-action="Filtrate">Tìm/ Lọc</button>

        <a asp-area="Admin"
           asp-controller="Posts"
           asp-action="Edit"
           class="btn btn-success">Thêm mới</a>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-outline-warning" asp-area="Admin" asp-controller="Posts" asp-action="ClearFields">Bỏ lọc</button>
    </div>
</form>
