@model IList<Post>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Các bài viết nổi bật
    </h3>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <a asp-area=""
                   asp-controller="Blog"
                   asp-action="DetailPost"
                   asp-route-slug="@item.UrlSlug"
                   title="@item.Description">
                    @item.Title
                    <span style="float: right;">(@item.ViewCount)</span>
                </a>
            </li>
        }
    </ul>
</div>