<div class="mb-4">
    <h3 class="text-success mb-2">
        Đăng ký nhận tin mới
    </h3>

    <form>
        <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   placeholder="Enter your email"
                   aria-label="Enter your email"
                   aria-describedby="btnSubmit" />

            <button class="btn btn-outline-secondary"
                    type="submit"
                    id="btnSubmit">
                <i class="fa fa-magic"></i>
            </button>
        </div>
    </form>
</div>